<section data-ng-controller="HomeController">
	<div class="body-copy">
		<h1>Bikeability</h1>
		<p>Bikeability is the modern way of teaching your children to ride in traffic. We use modern interactive and realistic teaching methods with highly trained instructors.</p>

		<p>If your children are to use their bikes safely to go to their friends or ride to school then they need experience with real traffic.</p>

		<p>Our courses gently introduce the trainees to traffic in a progressive manner. By the end of the course they will be riding competently in light traffic communicating to drivers and making their own decisions.</p>

		<table border="1">
			<thead>
				<th>Schools</th>
				<th>Parents</th>
				<th>Children</th>
			</thead>
			<tbody>
				<tr>
					<td>Bikeability Level 2 is available for year 5, 6 and 7.</td>
					<td>Bikeability is the ultimate safety training for your children.</td>
					<td>Do you want to ride your bike? We can show you the best ways.</td>
				</tr>
				<tr>
					<td>It is important that all your year 5, 6 and 7 children get the opportunity to learn this great life skill.</td>
					<td>Every 10, 11, 12 year old child needs this, even if the don't have a bike we can provide them.</td>
					<td>You will love our sessions, a time to show everyone how good you are.</td>
				</tr>
				<tr>
					<td>We will fit in with you as much as we can.</td>
					<td>Even if they don't cycle, they will be learning valuable road safety lessons which will be useful when they start driving.</td>
					<td></td>
				</tr>
				<tr>
					<td>We can help you increase take up. We can run assemblies, bike sessions. Why not fit cycling and sustainability into your lessons?</td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</section>