<section data-ng-controller="HomeController">
	<div class="body-copy">
		<h1 id="consultation">Consultation</h1>
		<p>Cycling to work is hugely beneficial.

		<h3>Employees who cycle are:</h3>
		<ol class="numbered">
			<li>More productive.</li>
			<li>Better time keepers.</li>
			<li>Healthier.</li>
		</ol>
		<p>This also has the added benefit of reducing cars parked in your car park.</p>

		<h3>We can help you encourage your employees ro cycle to work:</h3>
		<ol class="lettered">
			<li>We can provide a road show.</li>
			<li>Cycle training, this helps people ride through traffic safely.</li>
			<li>Bike maintenance training.</li>
			<li>Support in buying bikes and information service</li>
		</ol>
		<p>For more information <a href="/#!/contact">speak to us</a>.</p>
	</div>
</section>