<section data-ng-controller="HomeController">
	<div class="body-copy">
		<h1>Contact</h1>
		<p>If you have any questions, or would like to work with us, we'd love to hear from you. You can contact us by email (<a href="mailto:greg@avanticycling.com">greg@avanticycling.co.uk</a>) or by phone <a href="tel:07508028457">07508 028 457</a>. Or you can fill out the form below.</p>

		<iframe id="JotFormIFrame" onload="window.parent.scrollTo(0,0)" allowtransparency="true" src="http://form.jotformeu.com/form/43473839920362" frameborder="0" style="width:450px; height:757px; border:none;" scrolling="no"></iframe>
<script type="text/javascript">window.handleIFrameMessage = function(e) {var args = e.data.split(":");var iframe = document.getElementById("JotFormIFrame");if (!iframe)return;switch (args[0]) {case "scrollIntoView":iframe.scrollIntoView();break;case "setHeight":iframe.style.height = args[1] + "px";break;case "collapseErrorPage":if (iframe.clientHeight > window.innerHeight) {iframe.style.height = window.innerHeight + "px";}break;case "reloadPage":window.location.reload();break;}};if (window.addEventListener) {window.addEventListener("message", handleIFrameMessage, false);} else if (window.attachEvent) {window.attachEvent("onmessage", handleIFrameMessage);}</script>

	</div>
</section>