<section data-ng-controller="HomeController">
	<div class="body-copy">
		<div class="support-image recycling-symbol">
			<img src="/modules/core/img/recyclesymbol.png" alt="" class="img-responsive" />
		</div>
		<h1 id="environment">Environment</h1>
		<p>REDUCE-REUSE-RECYCLE</p>
		<p>Avanti Cycling tries to abide by the above mantra. This means that:</p>

		<ol>
			<li>We try and reduce paperwork where possible. As business as possible will be conducted electronically</li>
			<li>We will reuse paper and envelopes where possible. This might look a little unprofessional but it fits into our environmental ethos</li>
			<li>Bikes will be re used where possible. This increases out maintenance bill but fits entirely within our REUSE policy</li>
		</ol>

		<p>All trips, where possible will be made by train and bike.</p>
		<p>Benefits:</p>
		<ol>
			<li><b>Environmental</b>. This is an entirely environmental policy</li>
			<li><b>Cost</b>. It may benefit Avanti Cycling in terms of cost</li>
			<li><b>Example</b>. We hope to provide a good environmental example to others.</li>
		</ol>
	</div>
</section>