<section data-ng-controller="HomeController">
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-4">
				<h2><strong>For schools</strong></h2>
				<p>Bikeability delivery to schools.</p>
			</div>
			<div class="col-md-4">
				<h2><strong>For training instructors</strong></h2>
				<p>Training instructors to deliver Bikeability.</p>
			</div>
			<div class="col-md-4">
				<h2><strong>For businesses</strong></h2>
				<p>Adult training and maintenance courses.</p>
			</div>
		</div>
		<!-- <div class="row text-right">
			<p>
				<a class="btn btn-primary btn-lg" href="About-us" target="_blank">Learn more</a>
			</p>
		</div> -->
	</div>
	<div class="body-copy">
		<h2>Avanti Cycling’s vision</h2>
		<p>We are a forward thinking company; we believe that cycling is hugely beneficial to all. It benefits people’s health and the environment. We at Avanti Cycling are about helping people and organisations.</p>

		<h2 id="what-we-do">What we do</h2>
		<ul>
			<li>Deliver Bikeability;</li>
			<li>Consultancy to Bikeability schemes;</li>
			<li>Train instructors and leaders;</li>
			<li>Consultant to companies who wish to improve their green credentials;</li>
			<li>Lead cycle tours;</li>
			<li>Coach new riders.</li>
		</ul>

		<h2 id="who-are-we">Who are we?</h2>
		<p>Avanti Cycling was founded by Greg Woodford. Greg has been working for the CTC for over ten years managing their cycle training department. During which time he:</p>
		<ul>
			<li>Set up and created the on-road cycle training department for the CTC;</li>
			<li>Helped create the National Standards for Cycletraining;</li>
			<li>Helped to develop them into Bikeability;</li>
			<li>Managed the first tranche of instructors;</li>
			<li>Helped develop the four day NSI course;</li>
			<li>Managed the first Instructor Training Assessment process;</li>
			<li>Developed CTC into an Instructor training Organisation writing their courses and training their Instructor Trainers.</li>
		</ul>

		<h3>People</h3> 
		<p>We can help to get people on their bikes or simply understand what they can or cannot do whilst cycling. </p> 
		<h3>Organisations</h3> 
		<p>We can assist organisations in encouraging their employees to cycle to work. We can train those people to ride in traffic and enjoy their commute, or simply to maintain their own bikes.</p>

		<p>Greg himself is a passionate cyclist, loving all types of riding, be it commuting through London, touring or competing. He is an accomplished time trialist regularly winning national championships. He is probably the most experienced and knowledgeable person in the UK in cycle-training, having been involved in the National Standards/Bikeability since its inception.</p>

		<h2 id="contact">Contact</h2>
		<p>If you're interested, or would like to work with us, we'd love to hear from you! You can contact us by email (<a href="mailto:greg@avanticycling.com">greg@avanticycling.com</a>) or phone (07508 028 457).</p>
	</div>
</section>
