<section data-ng-controller="HomeController">
	<div class="body-copy">
		<h1 id="instructor">Instructor training</h1>
		<p>Avanti Cycling is affiliated to the CTC the national cycling charity. We can deliver the full suite of courses that CTC delivers.</p>

		<h3>National Standard Instructor Training</h3>
		<p>Greg Woodford was working within the National Standards ambit from the beginning. He was part of the working group that created the standards.</p>

		<h3>Ride Leading training</h3>
		<p>As one of the leading experts in ride leading (on road) in the UK, Greg Woodford has created a variety of on road ride leading courses and delivered them throughout the UK. Avanti Cycling has also worked in partnership with national organisations to develop courses that fit their needs.</p>

		<h3>Courses that can be delivered</h3>
		<ol class="lettered">
			<li>Club leader course. A one day course aimed at cycling / triathlon clubs to develop best practise in leading club runs.</li>
			<li>Ride manager course, aimed at the customer who wishes to lead leisure rises. This suit of courses can last form one day to three dependant on the outcomes you wish to achieve.</li>
			<li>Be spoke ride leader course. Avanti Cycling has experience in creating courses to fit in with your outcomes, come and talk to us.</li>
			<li>You don't want a full course? We can come and talk ot you organisation about best practise in ride leading. These presentations are designed to encourage new leaders to come through. As Avanti cycling is affiliated to the national cycling charity we have the recognition benefits that this brings.</li>
		</ol>
	</div>
</section>