a {
	color: #0a9bb5;
}

.container {
	padding: 5px;
}

.content {
	padding-top: 75px;
}

.strapline {
	position: absolute;
	top: 54px;
	color: white;
	font-style: italic;
	font-size: 12px;
	letter-spacing: 2.5px;
}

.navbar-header {
	/*float: left;*/
	margin-left: 10px !important;
	margin-right: 0 !important;
}

.navbar-inverse {
	/*background-color:rgb(34,34,34);
	background-color:rgba(34,34,34, 0.8);
	background-color:rgb(125,125,125);
	background-color:rgba(125,125,125, 0.9);
	background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 50%);
  	background-image:      -o-linear-gradient(top, #3c3c3c 0%, #222 50%);
  	background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));*/
  	background-image:         linear-gradient(to bottom, rgba(60,60,60, 0.7) 0%, rgba(34,34,34, 0.7) 50%);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  	background-color: transparent;
	border-color: transparent;
}

.navbar-right {
	margin-right: 20px !important;
}

.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}

/*.navbar {
	min-height: 88px;
}*/

.content {
	height: 100%;
	min-height: 950px;
	background-image: url(/modules/core/img/bikes.jpg);
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}

.container .jumbotron {
	padding-left: 30px;
}

.jumbotron {
	color: white;
	background-color: rgb(10, 155, 181);
	background-color: rgba(10, 155, 181, 0.9);
	margin: 7px 0 15px 0;
	padding: 10px 20px;
}

.jumbotron p {
	margin-bottom: 10px;
	font-size: 18px;
}

.navbar-brand {
	background-repeat: no-repeat;
	height: 72px;
	width: 418px;
	background-image: url(../img/logo.png);
	background-image: url('../img/logo.svg'), none;
}

.navbar-nav > li > a {
	/*margin-left: 20px;*/
	padding-top:  20px;
	font-size: 18px;
	color: white;
}

.body-copy {
	background-color: white;
	background-color:rgba(255,255,255, 0.9);
	color:black;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	padding: 25px 30px;
	border-radius: 4px;
	margin-bottom: 30px;
}

h1 {
	margin-top: 0;
}

h2 {
	font-size: 30px;
	margin-top: 10px;
	/*padding: 0 0 10px 0;*/
}

h3 {
	font-size: 20px;
}

.body-copy h2:first-child {
	margin-top: 0;
}

.body-copy h2 {
	margin-top: 0;
	font-weight: bold;
}

.body-copy ul {
	padding: 0;
}

.body-copy ul li {
	/*list-style-type: circle;*/
	list-style: none;
}

.body-copy ul li:before {
	margin: 7px;
	margin-left: 0;
	padding: 0;
	padding-left: 15px;
	width: 16px;
	height: 16px;
	background: url(/modules/core/img/list-sprites.png);
	background-position: 0 -15px;
	background-size: 10px;
	background-repeat: no-repeat;
	list-style: none;
	content: "";
	line-height: 18px;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: 0 !important;
}

.navbar-inverse .navbar-nav>li>a{color:white !important;}

.calendar {
	margin: 20px 0;
}

table td, table th {
	padding: 10px;
}

table th {
	font-size: 20px;
}

ol.numbered {
	list-style-type: decimal;
}

ol.lettered {
	list-style-type:lower-alpha;
}

.support-image {
	float: right;
}

.support-image img {
	border-radius: 6px;
}

.footer-container {
	margin-top: -15px;
}

.footer {
	border-radius: 6px;
	color: #fff;
	background-color: #0a9bb5;
	background-color: rgba(10,155,181,.9);
	margin: 0;
	padding: 10px 20px;
}

.footer .row {
	margin-left: 10px;
	margin-right: 0;
}

@media screen and (max-width: 1000px) {
	.navbar-header img {
		max-height: 40px;
		width: auto;
		margin-top: 5px;
	}

	.navbar-nav > li > a {
		font-size: 14px;
	}

	.support-image {
		float: right;
		margin-top: 0;
		margin-bottom:10px;
	}

	.support-image img {
		height: 180px;
	}

	.recycling-symbol {
		width: 100%;
	}

	.recycling-symbol img {
		height: 80px;
		margin: 0 auto;
	}

	.strapline {
		position: absolute;
		top: 45px;
		font-size: 5px;
	}
}

