.container {
	padding: 5px;
}

.content {
	padding-top: 75px;
}

.navbar-inverse {
	background-color:rgb(34,34,34);
	background-color:rgba(34,34,34, 0.4);
	background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 50%);
  	background-image:      -o-linear-gradient(top, #3c3c3c 0%, #222 50%);
  	background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
  	background-image:         linear-gradient(to bottom, rgba(60,60,60, 0.4) 0%, rgba(34,34,34, 0.4) 50%);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}

/*.navbar {
	min-height: 88px;
}*/

.content {
	height: 100%;
	background-image: url(/modules/core/img/bikes.jpg);
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}

.jumbotron {
	color: white;
	background-color: rgb(10, 155, 181);
	background-color: rgba(10, 155, 181, 0.8);
	margin-top: 30px;
	padding: 0 20px;
}

.navbar-brand {
	background-repeat: no-repeat;
	height: 72px;
	width: 418px;
	background-image: url(../img/logo.png);
	background-image: url('../img/logo.svg'), none;
}

.navbar-nav > li > a {
	margin-left: 20px;
	padding-top:  26px;
	font-size: 20px;
	color: white;
}

.body-copy {
	background-color: white;
	background-color:rgba(255,255,255, 0.9);
	color:black;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	padding: 25px 30px;
	border-radius: 4px;
	margin-bottom: 30px;
}

h2 {
	font-size: 34px;
}

.body-copy h2:first-child {
	margin-top: 0;
}

.body-copy h2 {
	font-weight: bold;
}

.body-copy li {
	list-style-type: circle;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: 0 !important;
}
